<div class="show-for-medium-up" style="position: relative">
    <img class="img-responsive" src="/images/contact_me.png"/>
    <div class="animatedImageContainer">
        <div class="imageGroup">
            <img class="animatedImage one" src="/images/contact_me_01.png"/>
            <img class="animatedImage two" src="/images/contact_me_02.png"/>
            <img class="animatedImage three" src="/images/contact_me_03.png"/>
            <img class="animatedImage four" src="/images/contact_me_04.png"/>
            <img class="animatedImage five" src="/images/contact_me_05.png"/>
        </div>
    </div>
</div>
<div class="titleBar">
    <div class="row">
        <div class="columns large-12">
            <h2>Connect with me</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <ul class="large-block-grid-4">
            <li>email -  jacobharasimo@gmail.com</li>
            <li>Facebook -  jacobharasimo@facebook.com</li>
            <li>LinkedIn - http://ca.linkedin.com/pub/jacob-harasimo/22/a03/b0a</li>
            <li>google Plus - https://plus.google.com/117024444509730651199/posts</li>
            <li>stackoverflow - http://stackoverflow.com/users/2719979/jacobharasimo</li>
        </ul>
    </div>
</div>