<div class="show-for-medium-up" style="position: relative">
    <img class="img-responsive" src="/images/coffee_desk.jpg"/>
    <div class="headerTextConatiner">
        <h1 class="headerTitle large GreyBG">Jacob Harasimo</h1>
        <h3 style="color:#358AD3">Developing websites with  leading-edge technology</h3>
    </div>
</div>
<div class="titleBar">
    <div class="row">
        <div class="columns large-12">
            <h2>Advance your platform</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns large-12">

    </div>
</div>